*~
*.sw*
*.bak
*.tar
*.gz
*.xz
*.sh
.rvx_*
rvx_*.log
.login_info
rvx_python_config.mh
python3.bat

rvx_util
rvx_hwlib
rvx_ssw
rvx_binary
rvx_devkit
rvx_platform_example
rvx_synthesizer*
install_second
manual

!sync/rvx_*.tar.gz

# ====================================================
# FPGA / Vivado build artifacts (local ignore rules)
# ====================================================
*.dcp
*.bit
*.bin
*.str
*.rpx
*.rpt
*.jou
*.log
*.pb

# Implementation results
platform/**/imp_*/

# Temp / build
build/
out/
__pycache__/
.vscode/
.idea/
